<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimeChange.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>545E54E21EF11E0E00F4FE6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>545E54FB1EF11E0E00F4FE6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>545E55061EF11E0E00F4FE6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
